.e86_76 { 
	width:1337.0001220703125px;
	height:816px;
	position:absolute;
}
.e2_136 { 
	background-color:rgba(96.15624949336052, 125.81190258264542, 192.31249898672104, 1);
	width:1316px;
	height:810px;
	position:absolute;
	left:21.00010871887207px;
	top:6px;
}
.e2_285 { 
    background-color:rgba(1.0000000591389835, 32.00000189244747, 96.00000187754631, 1);
	width:198px;
	height:69px;
	position:absolute;
	left:600px;
	top:599px;
}
.e2_285:hover{
    background-color: rgb(45, 76, 211);
}
.e2_289 { 
	width:69px;
	height:0px;
	position:absolute;
	left:65px;
	top:35px;
}
.e2_137 { 
	background-color:rgba(1.0000000591389835, 32.00000189244747, 96.00000187754631, 1);
	width:1316px;
	height:105px;
	position:absolute;
	left:21.00010871887207px;
	top:0px;
}
.e2_138 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:252px;
	height:28px;
	position:absolute;
	left:1006.0001220703125px;
	top:21px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_139 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:252px;
	height:28px;
	position:absolute;
	left:1039.0001220703125px;
	top:53px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_140 { 
	width:83px;
	height:86px;
	position:absolute;
	left:1231.0001220703125px;
	top:6px;
}
.ei2_140_208_1526 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:69.03529357910156px;
	height:71.59259796142578px;
	position:absolute;
	left:6.982354640960693px;
	top:7.166666507720947px;
}
.e2_151 { 
	width:528px;
	height:537px;
	position:absolute;
	left:415.0001220703125px;
	top:80px;
}
.e2_142 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.6299999952316284) 39.58333432674408%) ;
	opacity:0.5;
	width:528px;
	height:537px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:27px;
	border-top-right-radius:27px;
	border-bottom-left-radius:27px;
	border-bottom-right-radius:27px;
}
.e2_150 { 
	color:rgba(255, 255, 255, 1);
	width:402.63983154296875px;
	height:76.0931167602539px;
	position:absolute;
	left:105.175048828125px;
	top:45.6558723449707px;
	font-family:Iceland;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e2_143 { 
	background-image:linear-gradient(0deg, rgba(201.32715046405792, 201.32715046405792, 201.32715046405792, 0.800000011920929) 0%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.10000000149011612) 100%) ;
	opacity:0.5;
	width:445.1347961425781px;
	height:55.43927001953125px;
	position:absolute;
	left:35.058349609375px;
	top:180.4493865966797px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.e2_144 { 
	background-image:linear-gradient(0deg, rgba(201.32715046405792, 201.32715046405792, 201.32715046405792, 0.800000011920929) 0%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.10000000149011612) 100%) ;
	opacity:0.5;
	width:445.1347961425781px;
	height:55.43927001953125px;
	position:absolute;
	left:35.058349609375px;
	top:294.5890808105469px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.e2_145 { 
	color:rgba(255, 255, 255, 1);
	width:48.86921691894531px;
	height:20.653846740722656px;
	position:absolute;
	left:35.058349609375px;
	top:154.36032104492188px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_146 { 
	color:rgba(255, 255, 255, 1);
	width:58.43058395385742px;
	height:20.653846740722656px;
	position:absolute;
	left:35.058349609375px;
	top:268.5px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_147 { 
	background-image:linear-gradient(0deg, rgba(201.32715046405792, 201.32715046405792, 201.32715046405792, 0.800000011920929) 0%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.10000000149011612) 100%) ;
	opacity:0.5;
	width:445.1347961425781px;
	height:55.43927001953125px;
	position:absolute;
	left:35.058349609375px;
	top:408.728759765625px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.e2_148 { 
	color:rgba(255, 255, 255, 1);
	width:99.8631820678711px;
	height:22.82793617248535px;
	position:absolute;
	left:35.058349609375px;
	top:376.1174011230469px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e4_2416 { 
	width:232px;
	height:82px;
	position:absolute;
	left:183.00010681152344px;
	top:15px;
	background-image:url(images/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_87 { 
	width:87px;
	height:67px;
	position:absolute;
	left:53px;
	top:15px;
}
.e4_2417 { 
	background-color:rgba(166.74166470766068, 185.68957597017288, 227.37499594688416, 1);
	width:87px;
	height:67px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_2418 { 
	transform: rotate(-176.42366562500266deg);
	width:48.40559387207031px;
	height:3.0253050327301025px;
	position:absolute;
	left:68.311279296875px;
	top:36.01953125px;
}
/* .4_2418 { 
	border:3px solid rgba(255, 255, 255, 1);
} */
.e36_22 { 
	transform: rotate(60.31047074678829deg);
	width:149.71127319335938px;
	height:152.3240509033203px;
	position:absolute;
	left:132.32725524902344px;
	top:578px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/detergent__1__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_22 { 
	width:114px;
	height:115px;
	position:absolute;
	left:126.00010681152344px;
	top:687px;
	background-image:url(images/laundry_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
a{
    cursor: pointer;
}
.logout:hover{
	background-color: thistle;
}
