.e2_203 { 
	background-color:rgba(1.0000000591389835, 32.00000189244747, 96.00000187754631, 1);
	width:1316px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_305 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:252px;
	height:28px;
	position:absolute;
	left:848px;
	top:446px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_305:hover{
    color: rgb(0, 26, 255);
}
.e2_206 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:252px;
	height:28px;
	position:absolute;
	left:985px;
	top:21px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_207 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:252px;
	height:28px;
	position:absolute;
	left:1018px;
	top:53px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_208 { 
	width:83px;
	height:86px;
	position:absolute;
	left:1210px;
	top:6px;
}
.ei2_208_208_1526 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:69.03529357910156px;
	height:71.59259796142578px;
	position:absolute;
	left:6.982354640960693px;
	top:7.166666507720947px;
}
.e2_231 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.6299999952316284) 39.58333432674408%) ;
	opacity:0.5;
	width:660px;
	height:208px;
	position:absolute;
	left:610px;
	top:222px;
	border-radius:27px;
}
.e2_209 { 
	color:rgba(255, 255, 255, 1);
	width:522px;
	height:47px;
	position:absolute;
	left:681px;
	top:302px;
	font-family:Iceland;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e4_2425 { 
	width:232px;
	height:82px;
	position:absolute;
	left:192px;
	top:15px;
	background-image:url(images/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_91 { 
	width:87px;
	height:67px;
	position:absolute;
	left:62px;
	top:15px;
}
.e4_2426 { 
	background-color:rgba(166.74166470766068, 185.68957597017288, 227.37499594688416, 1);
	width:87px;
	height:67px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_2427 { 
	transform: rotate(-176.42366562500266deg);
	width:48.40559387207031px;
	height:3.0253050327301025px;
	position:absolute;
	left:68.311279296875px;
	top:36.01953125px;
}
/* .4_2427 { 
	border:3px solid rgba(255, 255, 255, 1);
} */
.e58_84 { 
	opacity:0.6000000238418579;
	width:716px;
	height:511px;
	position:absolute;
	left:0px;
	top:384px;
	background-image:url(images/7458dfea3dfe060cd5fe1e0a0a18a288_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

